*~
*.pyc
*#
cpp/bin/*
cpp/build/*
cpp/point-pf/bin/*
cpp/point-pf/build/*
cpp/point-explore/bin/*
cpp/point-explore/build/*
*.project
*.cproject
*.pydevproject
*.pydevproject.bak
*.metadata
@*
forces/beliefMPC
forces/stateMPC
forces/lpMPC
forces/*.zip
forces/*.mexa64
forces/beliefPenaltyMPC
forces/controlMPC
