*~
*.pyc
*#
bin
build
Debug
Release
*.project
*.cproject
*.pydevproject
*.pydevproject.bak
*.metadata
@*
forces/beliefMPC
forces/stateMPC
forces/lpMPC
forces/*.zip
forces/*.mexa64
forces/beliefPenaltyMPC
forces/controlMPC
