.DS_Store
*~
*.pyc
*.d
*.eep
*.elf
*.lss
*.map
*.o
*.so
*.dylib
_*.py
*.swp
.exrc
ROS_NOBUILD
*.hex
.build_version

build
bin
lib

.svn

ipc_bridge

msg_gen
srv_gen

cpp
java
lisp
oct

data

*.sconsign.dblite
*.os

CMakeCache.txt
*.bag

*/docs/*.aux
*/docs/*.log
/docs/*.rel

Ogre.log
rvo2/include/*
a.out
*.log
*.zip
*.tar
*.fig
*.eps
*.pdf
